@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

}
.BgImage{
  background-position-x: center;
  background-position-y: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-light-cream{
  background-color: #F7F4EE;
}
.formBg{
  background:#FAFAFA;
}
.contactBg{
  background-size: contain;
}
.bg-light-grey{
  background-color: #DADADA;
}
.bg-dark-moderate{
  background-color: #1E1E1E;
}
.border-dark-moderate{
  border: 0.5px solid #767676;
}
.bg-light-black{
  background-color:#7676802B;
  border: 2px solid #7676802B;
}
.border-bottom{
  border-bottom:1px solid #DADADA;
}
.c-deep-black{
  color:#4F4F4F;
}
.c-top-black{
  color:#767676;
}
.c-gold{
  color:#CEA964;
}
.bg-thindark-black{
  background-color:#222222;
}
.footer-img{
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: contain;
  border: 2px solid #7676802B;
}
.mt-1-{
  margin-top: -0.1rem;
}
.hr-footer{
  border-top: 1px solid #7676802B;
}
.link-icon{
  right: 1rem;
  top: 1.5rem;
}