@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.c-gold{
  color:#CEA964;
}
.Border{
  border-bottom: 10px solid #CEA964;
  border-style: double;
  padding: 2rem;
  border-radius: 0px 0px 50px 50px;
}
.bg-gold{
  background-color: #CEA964;
}
.swiper-pagination-bullet-active{
  background-color: #CEA964 !important;
 
}

.hero_section_image{
  background-size: 55% 80%;
  background-image: url('https://i.ibb.co/WkwZZPz/ppty-1.png');
}
.landingImage{
  background-image: url('https://i.ibb.co/WkwZZPz/Frame 80437.png');
}
.adjImg{
  margin-top:-3rem;
}
.adjWrapper{
  margin-top: -0.3rem;
  width: -webkit-fill-available;
}
.who_we_are_grid_container{
  display: grid;
  grid-template-columns: repeat(13, auto);
  gap: 10px;
  padding: 10px;
}


.grid_image{
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
  border-radius: 39px;
}
.lineBreaker{
  opacity: 0.3;
}
.item1 {
  grid-column-start: 6;
  grid-column-end: 9;
    grid-row-start:2;
  grid-row-end:8;
}
.item2 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start:3;
  grid-row-end:6;
}
.item3 {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start:6;
  grid-row-end:9;
}
.item4 {
  grid-column-start: 9;
  grid-column-end: 12;
  grid-row-start:1;
  grid-row-end:5;
}
.item5 {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start:5;
  grid-row-end:7;
}
.doubleBorder{
  border-radius: 0px, 240px, 240px;
  border: 0px, 0px, 11px, 0px;
  Opacity: 10%;
  border-color: #CEA964;
  border-style: double;
}
.morgauge-text{
  color:#CEA964;
  border-bottom: 1px solid #CEA964;
}
.devPageShadowRight{
  box-shadow: 15px 9px 0 0 rgb(25,25,25), 16px 10px 0 0 rgba(206,169,100,1);
}
.devPageShadowLeft{
  box-shadow: -15px 9px 0 0 rgb(25,25,25), -16px 10px 0 0 rgba(206,169,100,1);
}
.managementPageShadowRight{
  box-shadow: 15px 9px 0 0 rgb(247, 244, 238, 1), 16px 10px 0 0 rgba(206,169,100,1);
}
.managementPageShadowLeft{
  box-shadow: -15px 9px 0 0 rgba(247, 244, 238, 1), -16px 10px 0 0 rgba(206,169,100,1);
}
.swiper-button-prev::after{
  color: #CEA964;
}
.swiper-button-next::after{
  color: #CEA964;
}
.advisoryPageGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
}

.BgImage{
  background-position-x: center;
  background-position-y: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-light-cream{
  background-color: #F7F4EE;
}
.formBg{
  background:#FAFAFA;
}
.contactBg{
  background-size: conver;
  background-repeat: no-repeat;
}
.bg-light-grey{
  background-color: #DADADA;
}
.bg-dark-moderate{
  background-color: #1E1E1E;
}
.border-dark-moderate{
  border: 0.5px solid #767676;
}
.bg-light-black{
  background-color:#7676802B;
  border: 2px solid #7676802B;
}
.border-bottom{
  border-bottom:1px solid #DADADA;
}
.c-deep-black{
  color:#4F4F4F;
}
.c-top-black{
  color:#767676;
}

.bg-thindark-black{
  background-color:#222222;
}
.footer-img{
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: contain;
  border: 2px solid #7676802B;
}
@media (min-width: 320px){
.landing-img{
    width: -webkit-fill-available!important;
}
}
.mortgauge-form{
  background-color: #7676802B;
  border: 1px solid #7676802B;
}
.mt-1-{
  margin-top: -0.1rem;
}
.hr-footer{
  border-top: 1px solid #7676802B;
}
.link-icon{
  right: 1rem;
  top: 1.5rem;
}


@media screen and (max-width: 640px){

  .hero_section_image{
    background-size: 100% 50%;
  }
  
  .who_we_are_grid_container {
    grid-template-rows: auto;
    justify-content: center;
  }
  .item1{
    grid-column-start: 1;
    grid-column-end: 14;
      grid-row-start:1;
      grid-row-end:2;
      width: 100%;
  }
  .item2{
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 14;
     grid-row-start:3;
      grid-row-end:4;
  }
  .item3{
    grid-column-start: 1;
    grid-column-end: 14;
       grid-row-start:5;
      grid-row-end:6;
      width: 100%;
  }
  .item4{
    grid-column-start: 1;
    grid-column-end: 14;
         grid-row-start:7;
      grid-row-end:8;
      width: 100%;
  }
  .item5{
    grid-column-start: 1;
    grid-column-end: 14;
           grid-row-start:9;
      grid-row-end:10;
      width: 100%;
  }
  }

 